name: "Publish Release"

on:
  push:
    tags:
      - 'v*'

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: "windows-latest"

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: install frontend dependencies
        run: npm install

      - name: Generate Tauri icons
        run: npm run tauri icon ./logo.svg

      - name: Sync Version from Tag
        shell: bash
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          echo "Syncing version to: $VERSION"
          
          npm version $VERSION --no-git-tag-version
          
          node -e "const fs = require('fs'); const p = 'src-tauri/tauri.conf.json'; const d = JSON.parse(fs.readFileSync(p)); d.version = '$VERSION'; fs.writeFileSync(p, JSON.stringify(d, null, 2));"
          
          sed -i "0,/^version = .*/s//version = \"$VERSION\"/" src-tauri/Cargo.toml

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: ${{ github.ref_name }}
          releaseName: "Amalgam ${{ github.ref_name }}"
          releaseBody: "自动生成的安装包，请点击下方 Assets 下载。"
          releaseDraft: true
          prerelease: false